/*CSS Style Sheet for About*/


/*Main*/
h3 {
    font-family: "Helvetica"
}

h2 {
    font-size: 25px; 
    color:#1A281F;
}

h3 {
    font-size: 20px
}
body {
    color:#000000
}


p {
    font-size: 20px; 
    font-family:"Helvetica"
}

/*background color*/
body {
    background-color: #FAF3DD;
}

/*Header*/
h1 {
    color: #7B886F;
    font-family: "Helvetica";
    font-size: 18px;
    margin: 10px;
}

.header1 h2 {
    font-family: "Garamond";
    color: #FAF3DD;
}

.header1 {
    color: #FAF3DD; 
    background-color: #7B886F; 
    padding:5px;
    text-align: center;
    max-height: 100px;
}

/*Top Navigation*/

.nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    max-height: 100px;
}

.nav-list ul {
    display: flex;
    text-align: center;
    max-height: 100px;
}

.nav-list li {
    list-style: none; 
    display: flex;
    text-align: center
}


.nav-list a {
    text-decoration: none;
    color: #7B886F;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    transition: color 0.3s ease;
    font-family: "Garamond"
}

.nav-list a:hover {
    color:#280004;
}

.garden img {
    max-height: 100%;
    max-width: 100%;
    box-shadow:0px 4px 4px 4px #7B886F;
}
/*footer*/

.footer {
    max-height: 100%;
    max-width: 100%;
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
}
.footer h2 a {
    color: #1A281F;
    transition: color 0.3s ease;
}
.footer h2 a:hover {
    color: #7B886F
}







